<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Epicor Connection Info -->
    <add key="configFilePath" value="C:\Epicor\ERP101600DEV\config\ERP101600DEV.sysconfig"/>
    <add key="UserID" value="scoach"/>
    <add key="Password" value="xxxPPPPmmm"/>

    <!-- UtilityProcesses : Reset Timer -->
    <add key="TimeToRun24Decimal" value="23.25"/>

    <!--UtilityProcesses : Watch File Path -->
    <add key="PathToWatch" value=""/>

    <!-- UtilityProcesses : Run At Interval -->
    <add key="TimerInterval" value=""/>
    <add key="TimerIntervalUnits" value=""/>

    <add key="CSVFilePath" value="Sample.CSV"/>

    <!-- UtilityProcesses : SendEmail -->
    <add key="SMTPAddress" value="stlex-1"/>
    <add key="EmailFrom" value="epicor@dukemfg.com"/>

    <!-- Day, Days to Run -->
    <add key="DaysOfWeekToRun" value="Tuesday,Thursday"/>
    <add key="DaysOfMonthToRun" value="1,15"/>
    
    <add key="username" value="scapi@dukemfg2020.com.sheldondv" />
    <add key="password" value="XXXXXXXXXXXXXXXX" />
    <add key="token" value="YYYYYYYYYYYYYYYYYYYYY" />
    <add key="clientId" value="3MVG9_I_oWkIqLrkzsNY5u6KV8ibiZgVoGfuGm9CYfhEslxc1ZJkuamMnLBmROt4MlSaFVG69oDOfFY_o8008" />
    <add key="clientSecret" value="ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ" />    

  </appSettings>
</configuration>